#Config sample for kral.

#Default settings that apply to all
time_format = ""
lang = "en"
user_agent = ""

#Each service is a key-value mapping
twitter = {
    'user': '',
    'pass': '',
}

facebook = {
    'app_id': '',
    'app_secret': '',
}

youtube = {
    'orderby': 'published',
    'maxresults': 25,
    'mode': 'most_recent',
    'time': 'today',
}
reddit = {
    'orderby': 'relevance',
}
