[DEFAULT]
time_format =
lang = en
user_agent =

[Twitter]
user =
pass =

[Facebook]
app_id =
app_secret =

[Youtube]
orderby = published
maxresults = 25
mode = most_recent 
time = today

[Reddit]
orderby = relevance
